.contestants {
  .header {
    position: relative;

    h1 {
      color: $color_secondary;
      font-size: 20px;
      font-family: $font1;
      font-weight: 700;
    }

    .small-line {
      justify-self: center;
      margin: auto;
      width: 100px;
      border-bottom: 3px solid $color_primary;
    }
  }

  .item {
    box-sizing: border-box;
    padding: 0;

    .image {
      width: 150px;

      img {
        &:nth-of-type(1) {
          width: 70px;
          position: absolute;
          z-index: -1;
        }

        &:nth-of-type(2) {
          width: 70px;
          position: absolute;
          z-index: -1;
        }

        &:nth-of-type(3) {
          width: 120px;
          margin-left: 20px;
          margin-top: 20px;
        }
      }
    }

    .cont-info {
      clear: both;

      h2 {
        font-family: $font2;
        color: $color_secondary;
        font-size: 17px;
      }

      .small_line {
        width: 20px;
        border-bottom: 2px solid $color_border;
      }

      small {
        color: $color_primary;
      }

      p {
        font-size: 12px;
        font-family: $font2;
        color: $color_text;
      }
    }
  }
}

.partner {
  background-color: $color_secondary;

  .header {
    position: relative;

    .title {
      color: $color_accent;
      font-size: 20px;
      font-family: $font1;
      font-weight: 700;
    }

    .small-line {
      justify-self: center;
      margin: auto;
      width: 30px;
      border-bottom: 3px solid $color_primary;
    }
  }

  .p-logo {
    height: 50px;

    @include breakpoint($sm_screen) {
      height: 20px;
    }
  }
}
