@font-face {
  font-family: "cocogoose";
  src: url(../fonts/cocogoose.otf);
}

@font-face {
  font-family: "lato-bold";
  src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
  font-family: "lato_regular";
  src: url(../fonts/Lato-Regular.ttf);
}
