.nav-bar {
  background-color: $color_white;
  clear: both;
  box-shadow: 7px 0 9px 0 rgba(168, 168, 168, 0.76);

  .status-bar {
    background-color: $color_secondary;
    box-sizing: border-box;
    position: relative;

    ul {
      right: 0;

      li {
        padding: 0;
        margin-top: 0;

        a {
          color: $color_accent;
          font-size: 12px;
        }
      }
    }
  }

  .nav-links {
    .about {
      color: $color_primary;
    }

    .ticket {
      border: 3px solid $color_primary;
      color: $color_primary;

      a {
        color: $color_primary;
        text-transform: uppercase;
        font-family: $font1;
        font-weight: 600;
      }
    }
  }

  .logo {
    img {
      height: 40px;
    }
  }

  .nav-button-icon {
    width: 35px;
    cursor: pointer;

    &::after,
    &::before,
    .btn-cont {
      background-color: $color_secondary_1;
      // border-radius: 10px;
      content: "";
      display: block;
      height: 7px;
      margin: 6px 0;
    }

    &:hover::before::after {
      background-color: $color_secondary;
    }
  }
}
