$color_primary: #ff4f38;
$color_secondary: #272a31;
$color_secondary_1: #2d323a;
$color_accent: #d3d3d3;
$color_accent_1: #f7f7f7;
$color_text: #5e5e5e;
$color_border: #bbb;
$color_white: #fff;

$font1: cocogoose, sans-serif;
$font2: lato-bold, sans-serif;
$font3: lato_regular, sans-serif;

$lg_screen: "(min-width: 992px)";
$md_min_screen: "(min-width: 767)";
$md_screen: "(max-width: 992px)";
$sm_screen: "(max-width: 767px)";
$xs_screen: "(max-width: 576px)";
